# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
/test-results

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# Vishwa-Vani Specific
# We ignore bronze/silver data as it's raw/processing and can be large
/data/1-bronze/
/data/2-silver/
/data/logs/
/data/tmp/

# sqlite lake
vedic-lake.db
vedic-lake.db-journal

data/3-gold/mahabharata/parva-*/*.json
scripts/mock_data/
data/mahabharata_chapter_*.json
data/isha_upanishad_chapter_*.json
